<!-- 关注 -->
<ion-header text-center no-border>
  <ion-navbar color="major">
    <ion-title>{{titleTitle}}</ion-title>
    <ion-buttons end>
      <button ion-button>
        <ion-icon></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
  
<ion-content padding>
  <div class="fans">
    <ul>
        <li *ngFor="let item of write;let i = index" >
        <div class="header">
          <img src="http://192.168.62.144:3000/upload/{{item.guansrc}}" alt="头像">
        </div>
        <div class="center">
          <div class="name">
              {{item.guanusername}}
          </div>
          <div class="signature">
              <li *ngFor="let item of src;let i = index" style="border:0px">{{item.signature}}</li>
          </div>
        </div>
        <div class="right">
          <button [ngClass]="{'only':item.status == 0,'each':item.status == 1}" (click)="show(i);showConfirm()">{{item.buttonValue}}</button>
        </div>
      </li>
    </ul>
  </div>

</ion-content>