<div class="left-wrap">
      <a href="/admin/">        首页        </a>
      <a href="/admin/banners"> 攻略管理    </a>
      <a href="/admin/user">    用户管理    </a>
      <a href="/admin/text">    管理员管理    </a>
      <a href="/admin/suggestion">   意见反馈    </a>
</div>

