<div class="up-wrap">
      <a href="/admin/user">      用户信息  </a>
      <a href="/admin/number">    相关数字  </a>
      <a href="/admin/mygonglue"> 攻略管理  </a>
      <a href="/admin/contact">   账本管理  </a>
      <a href="/admin/plan">    计划管理  </a>
</div>

