<ion-header>
  <ion-navbar id="a" color="blu">
    <ion-title text-center>我的计划</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goaddplan()" >
        <ion-icon name="md-add" id="icony"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  
</ion-header>


<ion-content>
  
  <div id="listdiv">
    <ul id="list" text-center>
      <!-- <li  ngDefaultControl *ngFor="let item of write" (click)="gomingxi2(i)" > -->
      <li  ngDefaultControl *ngFor="let item of write" >
        第{{item.days}}
        <br/>
        上午:{{item.morning}} <br/>
        下午:{{item.afternoon}}<br/>
        晚上:{{item.evening}}
      </li>  
      
    </ul>
  </div>
</ion-content>
