page-jizhangben {
    ion-content{
        background-color: #F5F5F5!important;
        img{
            width: 100%;
            height: 27%;
            display: block;
            margin-bottom: -4px;
        }
        button{
            background-color: #207b94!important;
        }
 
        li{
            list-style: none;
            background-color: white;
            width: 88%;
            border-radius:20%;
            padding: 2%;
            margin-left: 6%;
            font-size: 14px;
            margin-top: 7px;
            text-align: center;
            
        }
    }
    .front{
        width: 60%;
        font-size:16px;
        color: grey;
    }
    .later{
        width: 40%;
        font-size:16px;
        //color: grey;
    }
    .table{
        margin-left: 5%;
        background: rgb(240, 240, 240);
        //color: grey;

       
    }
    td{
        border:0px;
    }
    div{
        margin-top: 5px;
        hr{
            size:12px;
        }

    }

}
