<ion-header>
  <ion-navbar color="blu">
    <div class="search_add">
      <div class="search">
        <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
      </div>
      <div class="ion">
        <ion-icon name="md-add"></ion-icon>
      </div>
    </div>
    <ul class="navList">
      <li *ngFor="let item of arr;let idx=index;" (click)="isClick(idx)" [class.first]="isActive==idx">{{arr[idx]}}</li>
    </ul>
  </ion-navbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="isActive">
    <div *ngSwitchCase="0">
      <!-- 轮播图 -->
      <ion-slides pager="true" autoplay="1000" loop="true" class="sli" style="width:100%;height:240px;">
        <!-- <ion-slide>
                        <img src="assets/imgs/北京攻略.jpg" alt="" calss="slide-image" style="width:100%;">
                      </ion-slide> -->
        <ion-slide>
          <img src="assets/imgs/5.jpg" alt="" calss="slide-image" style="width:100%;">
        </ion-slide>
        <ion-slide>
          <img src="assets/imgs/6.jpg" alt="" calss="slide-image" style="width:100%;">
        </ion-slide>
      </ion-slides>
    
      <!-- 显示攻略 -->
    <li *ngFor="let item of search_items;let idx=index">
      <div class="article">
        <div class="top">
          <div class="header">
            <!-- <li *ngFor="let item1 of src1;let idx=index;" style="border:0px;"> -->
              <!-- <img src="assets/imgs/header_1.jpg" alt="头像"> -->
              <img src="http://192.168.62.144:3000/upload/{{item.src}}" alt="头像">
            <!-- </li> -->
          </div>
          <div class="username">
            <!-- <li *ngFor="let item of search_items;let idx=index;" style="border:0px;"> -->
              {{item.username}}
            <!-- </li> -->
          </div>
          <div class="right">
            <p class="like" (click)="great($event)">&#10084;</p>
          </div>
        </div>
      
        <div class="mid" (click)="goGongluePage(idx)">
          <div class="title">
            <!-- <li *ngFor="let item of search_items;let idx=index;" style="border:0px;"> -->
              <p>{{item.title}}</p>
            <!-- </li> -->
          </div>
          <!-- <li class="li_content" *ngFor="let item of search_items;let idx=index;" style="border:0px;"> -->
            <div [ngClass]="item.picture == null ? 'mid_content' : 'mid_content_pic'">
              <div class="content">
                <!-- <li> -->
                  <p>{{item.article}}</p>
                <!-- </li> -->
              </div>
              <div class="picture">
                <!-- <img src="assets/imgs/北京攻略.jpg" alt="攻略图"> -->
                <img src="http://192.168.62.144:3000/upload/{{item.picture}}" alt="头像">
              </div>
            </div>
          <!-- </li> -->
        </div>
      </div>
    </li>
    </div>
    

    <div *ngSwitchCase="1">
      <ion-slides pager="true" autoplay="1000" loop="true" class="sli" style="width:100%;height:10%;">
        <!-- <ion-slide>
            <img src="assets/imgs/1.jpg" alt="" calss="slide-image" style="width:100%;">
          </ion-slide> -->
        <ion-slide>
          <img src="assets/imgs/5.jpg" alt="" calss="slide-image" style="width:100%;">
        </ion-slide>
        <ion-slide>
          <img src="assets/imgs/6.jpg" alt="" calss="slide-image" style="width:100%;">
        </ion-slide>
      </ion-slides>

      <!-- 显示攻略 -->
      <li *ngFor="let item of i;let idx=index">
        <div class="article">
          <div class="top">
            <div class="header">
              <li>
                <!-- <img src="assets/imgs/header_1.jpg" alt="头像"> -->
                <img src="http://192.168.62.144:3000/upload/{{item[0].src}}" alt="头像">
              </li>
            </div>
            <div class="username">
              {{item[0].username}}
            </div>
            <div class="right">
              <p class="like" (click)="great($event)">&#10084;</p>
            </div>
          </div>
          <div class="mid" (click)="goGongluePage(idx)">
            <div class="title">
              <p>{{item[0].title}}</p>
            </div>
            <div [ngClass]="item.picture == null ? 'mid_content' : 'mid_content_pic'">
              <div class="content">
                <p>
                  {{item[0].article}}
                </p>
              </div>
              <div class="picture">
                <!-- <img src="assets/imgs/北京攻略.jpg" alt="攻略图"> -->
                <img src="http://192.168.62.144:3000/upload/{{item[0].picture}}" alt="头像">
              </div>
            </div>
          </div>
        </div>
      </li>
    </div>
  </div>
</ion-content>